.list-galeri {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    gap: 30px;
    
    @media screen and (max-width: 1200px) {
      justify-content: flex-start;
    }

  }
  
  .galeri-cart {
   
    border: 1px solid #eeeeee;
    background: #ffffff;
    // width: 370px;
    // width: 100%;
    // box-shadow:
    // box-sizing: border-box;
    //  $box-shadow-color
     @media screen and (min-width: 480px) {
        width: 450px;
        
     }

     @media screen and (min-width: 768px) {
      width: 354px;
     
     }

     @media screen and (min-width: 1200px) {
      width: 370px;
      
     }

  }
  .galeri-cart__cart-border {
    background-color: #ffffff;
    // border: 1px solid #eeeeee;
    
  }
  
  .galeri-cart {
    @media screen and (min-width: 1200px) {
      .galeri-cart:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  
   .galeri-cart__cart-img {
     display: block;
     height: auto;
     max-width: 100%;
    }

  .galeri-cart__cart-hado {
    text-decoration: none;
    
  }
  
  .galeri-cart {
  
    @media screen and (min-width: 1200px) {
       .galeri-cart:nth-last-child(-n + 3) {
        margin-bottom: 0;
       } 
    }
  
  }
  
  .galeri-cart__title-pro {
    color: #757575;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;

    
  }
  
  .galeri-cart__title-gal {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: $titl-text-color;
    
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
  }
  
  .butn-main {
    padding-bottom: 94px;
  }

  
  
  .link {
    text-decoration: none;
  }
  
   .galeri-cart__cart-border {
     position: relative;
    overflow: hidden;
    
  }
  
  .galeri-cart__gallery-cart-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: $futer-text-color;
    background: rgba(33, 150, 243, 0.9);
    top: 0;
    height: 294px;      
    //  height: 100%;  
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
  }
  
  

  
  .galeri-cart__cart-hado:hover .galeri-cart__gallery-cart-text {
    transform: translateY(0);
  }
  
  .galeri-cart__title-pro {
    color: #757575;
  }
  
  .galeri-cart__cart-hado:focus .galeri-cart__gallery-cart-text {
    transform: translateY(0);
  }
  
  
    .galeri-cart__galeri-stil {
      border: 1px solid #eeeeee;
    }

  .galeri-cart__cart-hado:hover .galeri-cart {
    
    
    //  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    //  1px 4px 6px rgba(0, 0, 0, 0.16);
    //  border: 4px solid #101010;
    //  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
 
  // .galeri-cart__cart-hado:focus {
  //   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  //   1px 4px 6px rgba(0, 0, 0, 0.16);
  // }
// .galeri-cart__galeri-stil