.hero {
  @media screen and (min-width: 1200px) {
    text-align: center;
    background-color: #ffff;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/img_fon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //  max-width: 1600px;
    margin: 0px auto;
     display: block;
    
    // height: 100%;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
        to right,
         rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/destop3200@2x.jpg');
      
      }  
  }   
    
  
  @media screen and (max-width: 480px) {
    text-align: center;
    background-color: #ffff;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // max-width: 768px;
    margin: 0px auto;
     display: block;
    
     height: 100%;
     @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
        to right,
         rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/header-img@2x.jpg');
      
      }  
  }

  @media screen and (min-width: 480px) {
    text-align: center;
    background-color: #ffff;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // max-width: 768px;
    margin: 0px auto;
     display: block;
    
    height: 100%;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
        to right,
         rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/header-img@2x.jpg');
      
      }  
  }

  @media screen and (min-width: 768px) {
    text-align: center;
    background-color: #ffff;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header_768.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // max-width: 1200px;
    margin: 0px auto;
     display: block;
    
    height: 100%;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
        to right,
         rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/header_1530@2x.jpg');
      
      }  
  }
}
  

        
 
  
  .hero-main__title-hero {
    margin: auto;
    max-width: 500px;
    padding-top: 200px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: $futer-text-color;
    @media screen and (max-width: 768px) {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: #FFFFFF;
    }

  }
  
  .hero-main__button {
    padding: 10px 32px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 200px;
    min-width: 216px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  
    cursor: pointer;
    background: $accent-color;
  
    border-radius: 4px;
    border-color: $bt-accent-color;
    color: $fon-body-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      @media screen and (max-width: 1200px) {
        margin-bottom: 118px;
        margin-left: auto;
        margin-right: auto;
      }
  
  &:hover,
  &:focus {
    background: $bt-accent-color;
    border: 2px solid $bt-accent-color;
    box-shadow: $button-title-color;
  }
}