.hero {
    
    background-color: #c4c4c4;
  
   
  }
  
  
  .hero-main {
    display: inline-block;
    text-align: center;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/img_fon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #c4c4c4;
  
    // max-width: 1600px;
    margin: 0px auto;

  }
  
  .hero-main__title-hero {
    margin: auto;
    max-width: 500px;
    padding-top: 200px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: $futer-text-color;
  }
  
  .hero-main__button {
    padding: 10px 32px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 200px;
    min-width: 216px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  
    cursor: pointer;
    background: $accent-color;
  
    border-radius: 4px;
    border-color: $bt-accent-color;
    color: $fon-body-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
  &:hover,
  &:focus {
    background: $bt-accent-color;
    border: 2px solid $bt-accent-color;
    box-shadow: $button-title-color;
  }
}